.sve
{background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);}
.naslov
{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color:whitesmoke;
   font-size: 70px;
   text-align: center;

}
