<div>
    <h2 class='font'>Best destinations this season: </h2>
    </div>
<div class='home'>
  
  <div>
    <img class="img-responsive"
      src="https://www.telegraph.co.uk/content/dam/Travel/Destinations/Europe/Spain/Barcelona/attractions-Park%20G%C3%BCell.jpg?imwidth=450"
      alt="slider">
    <div>

      <h4 class='font'>Barcelona</h4>
      <a href="https://www.youtube.com/watch?v=uOzwwZxjPRs" class="font2">Watch trailer</a>
    </div>
  </div>
  <div class="item">
    <img class="img-responsive" src="https://cdn.londonandpartners.com/assets/73295-640x360-london-skyline-ns.jpg">
    <div>

      <h4 class='font'>London</h4>
      <a href="https://www.youtube.com/watch?v=X8zLJlU_-60" class="font2">Watch trailer </a>
    </div>
  </div>
  <div class="item">
    <img class="img-responsive"
      src="https://www.bellavitatravels.com/hubfs/porto%20portugal%20-%20river%20-%20ribeira%20district.jpeg">

    <div>

      <h4 class='font'> Porto</h4>

      <a href="https://www.youtube.com/watch?v=P170_f49pv4" class="font2">Watch trailer </a>
    </div>
  </div>
</div>
